:root {
    --alert-font-family: "BergenSans-SemiBold", Helvetica;
    --alert-font-size: 14px;
    --alert-font-style: normal;
    --alert-font-weight: 600;
    --alert-letter-spacing: 0.7px;
    --alert-line-height: 20px;
    --barra-de-tareas-font-family: "BergenSans-SemiBold", Helvetica;
    --barra-de-tareas-font-size: 17px;
    --barra-de-tareas-font-style: normal;
    --barra-de-tareas-font-weight: 600;
    --barra-de-tareas-letter-spacing: 0px;
    --barra-de-tareas-line-height: normal;
    --big-header-mobile-font-family: "BergenSans-Bold", Helvetica;
    --big-header-mobile-font-size: 40px;
    --big-header-mobile-font-style: normal;
    --big-header-mobile-font-weight: 700;
    --big-header-mobile-letter-spacing: 2px;
    --big-header-mobile-line-height: 50px;
    --bige-header-font-family: "BergenSans-Bold", Helvetica;
    --bige-header-font-size: 50px;
    --bige-header-font-style: normal;
    --bige-header-font-weight: 700;
    --bige-header-letter-spacing: 2.5px;
    --bige-header-line-height: 60px;
    --cajita: 8px 8px 20px 0px rgba(0, 0, 0, 0.25);
    --drop-shadow: ;
    --encuesta-font-family: "BergenSans-SemiBold", Helvetica;
    --encuesta-font-size: 14px;
    --encuesta-font-style: normal;
    --encuesta-font-weight: 600;
    --encuesta-letter-spacing: 0.7px;
    --encuesta-line-height: 20px;
    --hadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.05);
    --paragraph-bold-font-family: "BergenSans-SemiBold", Helvetica;
    --paragraph-bold-font-size: 16px;
    --paragraph-bold-font-style: normal;
    --paragraph-bold-font-weight: 600;
    --paragraph-bold-letter-spacing: 0.8px;
    --paragraph-bold-line-height: 20px;
    --paragraph-font-family: "BergenSans-Regular", Helvetica;
    --paragraph-font-size: 16px;
    --paragraph-font-style: normal;
    --paragraph-font-weight: 400;
    --paragraph-letter-spacing: 0.8px;
    --paragraph-line-height: 20px;
    --titulo-1-font-family: "BergenSans-SemiBold", Helvetica;
    --titulo-1-font-size: 34px;
    --titulo-1-font-style: normal;
    --titulo-1-font-weight: 600;
    --titulo-1-letter-spacing: 1.7px;
    --titulo-1-line-height: 20px;
    --titulo-2-font-family: "BergenSans-Bold", Helvetica;
    --titulo-2-font-size: 34px;
    --titulo-2-font-style: normal;
    --titulo-2-font-weight: 700;
    --titulo-2-letter-spacing: 1.7px;
    --titulo-2-line-height: 20px;
    --titulo-3-font-family: "BergenSans-Regular", Helvetica;
    --titulo-3-font-size: 34px;
    --titulo-3-font-style: normal;
    --titulo-3-font-weight: 400;
    --titulo-3-letter-spacing: 1.7px;
    --titulo-3-line-height: 20px;
    --titulo-chico-font-family: "BergenSans-SemiBold", Helvetica;
    --titulo-chico-font-size: 22px;
    --titulo-chico-font-style: normal;
    --titulo-chico-font-weight: 600;
    --titulo-chico-letter-spacing: 1.1px;
    --titulo-chico-line-height: 26px;
    --titulo-medio-font-family: "BergenSans-Bold", Helvetica;
    --titulo-medio-font-size: 26px;
    --titulo-medio-font-style: normal;
    --titulo-medio-font-weight: 700;
    --titulo-medio-letter-spacing: 1.3px;
    --titulo-medio-line-height: 20px;
    --variable-collection-amarillo2: rgba(238, 178, 61, 1);
    --variable-collection-amarilo: rgba(253, 255, 195, 1);
    --variable-collection-celeste: rgba(131, 217, 255, 1);
    --variable-collection-fondo: rgba(251, 238, 255, 1);
    --variable-collection-fucsia: rgba(255, 23, 244, 1);
    --variable-collection-prueba: rgba(198, 108, 221, 1);
    --variable-collection-rosa: rgba(255, 22, 125, 1);
    --variable-collection-sensebox: rgba(229, 128, 255, 1);
    --variable-collection-text-2: rgba(26, 28, 61, 1);
    --variable-collection-text1: rgba(79, 79, 79, 1);
    --variable-collection-text3: rgba(26, 28, 61, 1);
    --variable-collection-verde: rgba(197, 255, 213, 1);
    --variable-collection-withe: rgba(255, 255, 255, 1);
  }
