
@font-face {
  font-family: 'Bergen Sans';
  src: url('../src/assets/fonts/BergenSans-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Bergen Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

code {
  font-family: 'Bergen Sans', sans-serif;

}
*{
  font-family: 'Bergen Sans', sans-serif !important;

}
.img {
  width: 100%;
  object-fit: cover;
}
.textGradient {
  background: linear-gradient(135deg, #ff0080 0%, #7928ca 100%),
    linear-gradient(0deg, #c66cdd, #c66cdd);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imgBoxYellow {
  width: 100% !important;
  height: auto;
}
.img-cajita{
  width: 353px !important;
  height: 353px !important;
}

@media (min-width: 768px) {
  .img {
    width: auto !important;
  }
  .btnPosition {
    left: 35% !important;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .img {
    width: 65% !important;
    height: 459px;
  }
  .btnPosition {
    left: 50% !important;
  }
  .img-cajita {
    width: 220px !important;
    height: 250px !important;
  }
  .widthContainerCajas {
    width: 1024px !important ;
  }
}
