@font-face {
  font-family: 'Bergen Sans';
  src: url('../src/assets/fonts/BergenSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bergen Sans';
  src: url('../src/assets/fonts/BergenSans-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Bergen Sans';
  src: url('../src/assets/fonts/BergenSans-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bergen Sans';
  src: url('../src/assets/fonts/BergenSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bergen Sans';
  src: url('../src/assets/fonts/BergenSans-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Bergen Sans';
  src: url('../src/assets/fonts/BergenSans-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Bergen Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: 'Bergen Sans', sans-serif;
}

* {
  font-family: 'Bergen Sans', sans-serif !important;
}
.img {
  width: 100%;
  object-fit: cover;
}
.textGradient {
  background: linear-gradient(135deg, #ff0080 0%, #7928ca 100%),
    linear-gradient(0deg, #c66cdd, #c66cdd);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imgBoxYellow {
  width: 100% !important;
  height: auto;
}
.img-cajita{
  width: 353px !important;
  height: 353px !important;
}

@media (min-width: 768px) {
  .img {
    width: auto !important;
  }
  .btnPosition {
    left: 35% !important;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .img {
    width: 65% !important;
    height: 459px;
  }
  .btnPosition {
    left: 50% !important;
  }
  .img-cajita {
    width: 220px !important;
    height: 250px !important;
  }
  .widthContainerCajas {
    width: 1024px !important ;
  }
}

.Mui-checked + .MuiFormControlLabel-label > .encuesta-Label > img {
  border: 3px solid #C66CDD;
  background-color: rgba(255, 255, 255, 0.5); /* Cambia el valor de transparencia (0.5) según tus necesidades */
  opacity: 0.5; /* Cambia el valor de opacidad (0.8) según tus necesidades */
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-carousel {
  width: 150px !important;
  height: 150px !important;
  object-fit: scale-down !important;

}